body {
    font-family: Arial, sans-serif;
    background: #121212;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

.player {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: auto;
}

.cover img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    transition: transform 0.3s easy-in-out;
}

.cover img:hover {
    transform: scale(1.05);
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    border: none;
    padding: 10px;
    border-radius: 50px;
    font-size: 18px;
    background: linear-gradient(45deg, orange, red);
    color: white;
    transition: background 0.3s, transform 0.2s;
}

button:active {
    transform: scale(0.9);

button:hover {
    background: linear-gradient(45deg, red, orange);
    transform: scale(1.1);
}

#progress-bar {
    width: 100%;
    margin-top: 10px;
}
